
<div *ngIf="isAuthenticated; else noAuth">
<section class="students-page">
	<h1>Student List</h1>

	<p *ngIf="loadError">{{ loadError }}</p>

	<ul class="student-list">
		<li *ngFor="let student of students" class="student-item">
			<div><strong>ID:</strong> {{ student.id }}</div>
			<div><strong>Name:</strong> {{ student.name }}</div>
			<div><strong>Age:</strong> {{ student.age }}</div>
			<div><strong>Major:</strong> {{ student.major }}</div>
		</li>
	</ul>
</section>
</div>
<ng-template #noAuth>
   <button (click)="login()">Login</button>
   <hr />
</ng-template>